body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f5fbf5 !important;
}

#top-menu {
	margin: 0;
	padding: 0;
	background-color: orange;
}

#top-menu a {
	text-decoration: none;
}

#top-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

#top-menu li {
	display: inline;
	padding: 10px;
}

main {
	width: 744px;
	height: 409px;
	background-color: orange;
}

footer p {
	margin: 0;
	padding: 2px;
}

footer a {
	text-decoration: none;
}
