body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#top-menu {
	margin: 0;
	padding: 0;
}

#top-menu a {
	text-decoration: none;
}

#top-menu ul {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}

#top-menu li {
	display: inline;
	padding: 10px;
}

footer p {
	margin: 0;
	padding: 2px;
}

footer a {
	text-decoration: none;
}