body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #15550c !important;
}

header {
	background-color: #f5fbf5 !important
}

#top-menu {
	margin: 0;
	padding: 0;
	background-color: #f25f00;
}

#top-menu a {
	text-decoration: none;
}

#top-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

#top-menu li {
	display: inline;
	padding: 10px;
}

main {
	//width: 744px;
	height: 409px;
	background-color: #15550c;
}

footer {
	background-color: #f7c31e;
}

footer p {
	margin: 0;
	padding: 2px;
}

footer a {
	text-decoration: none;
}
